.articles-outer-div {
  background-color: #aaa;
  margin: 7rem 8rem 2rem 8rem;
  height: 34rem;
  border-radius: 4px;
}

.articles-header {
  padding-top: 2rem;
}

.articles-inner-div {
  background-color: #909090;
  margin: 1rem 2rem 1rem 2rem ;
  padding: 1rem 0.5rem 2rem 0.5rem;
  height: 25rem;
  border-radius: 4px;
}

.add-new-article-div {
  float: right;
  margin-right: 1rem;
}

.articles-div-list {
  margin-top: 3rem;
}

.dialog-article-div {
  margin: 1rem 2rem 1rem 2rem;
}

.articles-pagination-div {
  margin: 1rem 1rem 1rem 1rem;
}

.articles-pagination-stack {
  width: 25rem;
  margin: 0 auto;
}

.articles-center-pagination-div {
  display: flex;
  justify-content: center;
}

#paragraph-text {
  display:inline-block;
  margin-right:10px;
}

#paragraph-button {
  display:inline-block;
}