.buy-car-div-component {
    background-color: #aaa;
    margin: 7rem 2.5rem 2rem 2.5rem;
    height: 36rem;
    border-radius: 4px;
}

.advanced-search-div {
    margin: 0 2rem 1rem 1rem;
    float: right;
}

.table-div-inner {
    background-color: #aaa;
    height: 15rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
}

.buy-car-header {
    padding-top: 2rem;
}

.table-row-link {
    cursor: pointer;
}

.table-row-link:hover {
    background-color: #808085;
}

.buy-car-pagination-div {
    margin: 12rem 1rem 1rem 1rem;
}

.buy-car-pagination-stack {
    width: 25rem;
    margin: 0 auto;
}

.buy-car-center-pagination-div {
    display: flex;
    justify-content: center;
}