.row-first {
    margin-top: 7rem;
    height: 15rem;
}

.row-second {
    margin-top: 4%;
    height: 12rem;
}

.column-left {
    background-color: #aaa;
    margin-left: 2rem;
    float: left;
    width: 30%;
    height: 15rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 4px;
}

.column-right {
    background-color: #bbb;
    margin-right: 2rem;
    float: right;
    width: 65%;
    height: 15rem;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
}

.column-bottom {
    margin-left: 0.9rem;
    float: left;
    width: 32%;
    height: 12rem;
    padding: 2rem 4rem 2rem 4rem ;
}

@media screen and (max-width: 1300px) {
    .column-left {
        width: 95%;
        height: 95%;
    }
    .column-right {
        width: 95%;
        height: 95%;
    }
    .row-first {
        height: 95%;
    }
    .row-second {
        height: 95%;
    }
}
