.navbar-menu {
  background-color: #24AFC1;
}

.right-side-box {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
}

.seller-car-form {
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset.fieldset-car-info-inner {
  padding: 20px 20px 0 20px;
  border-radius: 15px;
  display: inline;
  background-color: cornflowerblue;
}

fieldset.fieldset-login {
  position: absolute;
  top: 25%;
  left: 30%;
  /*padding: 60px 60px 0 20px;*/
  border-radius: 15px;
  display: inline;
  background-color: cornflowerblue;
}

.fieldset-car-details {
  position: absolute;
  top: 25%;
  left: 20%;
  /*padding: 60px 60px 0 20px;*/
  border-radius: 15px;
  display: inline;
  background-color: cornflowerblue;
}

.fieldset-car-info-outer {
  border-radius: 15px;
}

.car-table {
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 15px;
  display: inline;
}

.inline-span {
  display:inline-block
}

.left, div.left {
  float:left;
}

.right {
  float:right;
}

.right-margin {
  position: relative;
  width: 1000px;
  float: right;
  cursor: pointer;

}

.right-margin:hover {
  margin-right: -15px;
  transition: 1s;
}

.text-shadow {
  color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 2px 2px #585858;
}

.login-input {
  border-radius: 5px;
}

.submit-new-car-button {
  position: absolute;
  top: 3%;
  right: -47%;
}
span.car-details-span {
  float: left;
}



.card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #afafaf;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);
}
.pay-button{
  padding: 0.7rem 2rem;
  width: 100%;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #556cd6;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07);
  transition: box-shadow 500ms;
  cursor: pointer;
}
.pay-button:disabled{
  background-color: #afafaf;
  box-shadow: none;
  cursor: default;
}
.pay-button:disabled:hover{
  box-shadow: none;
}
.pay-button:hover{
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
}